.event
  .time_table
    %img{src: "/assets/chochin.png"}
    Time Table
    %img{src: "/assets/chochin.png"}
  = t "time_table.select_content_message"
  %table.time_table
    %tr= render :partial => @schedules, :spacer_template => "schedules/separator"
